.card {
  position: relative;
  width: 232px;
  height: 310px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card.is-selected .cardBack {
  filter: brightness(0.6) saturate(1.5) hue-rotate(15deg);
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ade1bd;
  overflow: hidden;
}

.card:not(.is-selected) {
  cursor: pointer;
}

.cardBack svg path {
  transition: fill 0.2s ease-in-out;
}

.card:not(.is-selected) .cardBack:hover svg path {
  fill: #1d5564;
}

.card:not(.is-selected) .cardBack:hover .cardBlockText {
  background-color: #1d5564;
}

.card:not(.is-selected) .cardBack:hover .cardText {
  color: #ade1bd;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ade1bd;
  overflow: hidden;
}

.cardBlockImg {
  width: 100%;
  height: auto;
}

.cardBlockText {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.cardFace .cardBlockText {
  background-color: #1d5564;
}

.cardText {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.cardFace .cardText {
  color: #ade1bd;
}

.cardBack .cardText {
  color: #fcfcf2;
}

.cardImg {
  width: 100%;
  height: 100%;
}
