.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #a4dcdd;
  position: relative;
}

.loadingCircle {
  position: absolute;
  width: 330px;
  padding: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1d5564;
  --_m: conic-gradient(#0000 25%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
